.onFocus {
    background: #cfd8dc !important;
    border: 1px solid #009879 !important;
}

.onHover {
    border: 1px dashed #78909c !important;
}

.onEmpty {
    border: 1px solid rgba(0, 0, 0, 0);
}